<div class="clearfix">
	<div class="main">
		<div class="s-t"><%= @catalog.name %></div>
		<ul class="i-news-list">
			<% @topics.each do |topic| %>
			<li>
				<h4><a href="<%= topic.show_url %>"><%= topic.title %></a></h4>
				<div class="summary"><%= topic.summary.html_safe %></div>
				<div class="info"><%= topic.date %>&nbsp;&nbsp;&nbsp;<%= topic.source %></div>
			</li>
			<% end %>
		</ul>
		<%= will_paginate @topics %>
	</div>
	<div class="side">
		<%= render :partial => "/partials/side" %>
	</div>
</div>