<div class="clearfix">
	<div class="main">
		<div class="s-t">新闻综合</div>
		<ul class="i-news-list">
			<%= render :partial => "/partials/topic_list" %>
		</ul>
		<%= will_paginate @topics %>
	</div>
	<div class="side">
		<%= render :partial => "/partials/side" %>
	</div>
</div>
<div class="friendlinks">
	<div class="s-t">友情链接</div>
	<ul class="clearfix">
		<% @friendlinks.each do |f| %>
		<li><a href="<%= f.link %>" target="_blank"><%= f.title %></a></li>
		<% end %>
	</ul>
</div>
