<div class="clearfix">
	<div class="main">
		<div class="news-show">
			<h4><%= @topic.title %></h4>
			<div class="topic-info">来源：<%= @topic.source %>&nbsp;&nbsp;&nbsp;<%= @topic.date %></div>
			<div class="topic-tags">标签：<%= @topic.i_show_tags %></div>
			<div class="topic-content">
				<%= format_content @topic.topic_content.content %>
			</div>
		</div>
	</div>
	<div class="side">
		<%= render :partial => "/partials/side" %>
	</div>
</div>